<ion-content>
    <div class="main_content_div">

        <div class="">
            <img src="assets/imgs/airplane.png">
            <ion-label class="bold_lbl">Waste for Energy <br> and Development.</ion-label>
            <ion-label class="grey_lbl">Nothing is lost, nothing creates everything is transformed ...</ion-label>
            <ion-fab-button (click)="goToLogin()">
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-fab-button>
        </div>

        <div class="upper_flex">
            <ion-label class="small_lbl">150 new users today!</ion-label>
        </div>

    </div>
</ion-content>
